.Bar-Busca-Header {
  background: #c4c4c4;
  display: flex;
  height: 60px;
  justify-content: space-around;
  margin: 0;
  top: 0;
}

.Top-Btn {
  align-self: center;
}

.Bar-Busca-Header-text {
  align-self: center;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.search-input {
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  margin: 5px 2%;
  width: 96%;
}

.search-top-btn {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
