.Bar-Busca-Header {
  background: #c4c4c4;
  border: 3px solid black;
  display: flex;
  height: 58px;
  left: 0;
  top: 0;
  width: 360px;
}

.Bar-Busca-Header-text {
  align-items: flex-end;
  display: flex;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  height: 35px;
  left: 123px;
  line-height: 35px;
  top: 12px;
  width: 119px;
}

.Bar-Busca-Header-column {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-around;
}
