.listReceitas {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 15%;
}

.receita {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 7px 5px 3px rgba(50, 50, 50, 0.77);
  display: flex;
  flex-direction: column;
  height: 140px;
  margin: 0 20px 15px;
  width: 140px;
}

.imgReceita {
  border-radius: 10px 10px 0 0;
  height: 90px;
  margin: 0;
  width: 100%;
}

.textReceita {
  margin: 5px 0;
  text-align: center;
}
