.explorarBCBuddy {
  display: flex;
  flex-direction: column;
  margin: 200px 10px;

}

.buttonBC {
  background-color: #e07d0d;
  border-radius: 10px;
  font-size: 20px;
  height: 32px;
  margin-top: 10%;
  width: 100%;
}
