.buddy-explore {
  display: flex;
  flex-direction: column;
  margin: 250px 10px;
}

.explore-btn {
  background-color: #e07d0d;
  border-radius: 10px;
  font-size: 20px;
  height: 32px;
  margin-top: 10%;
  width: 100%;
}
